.search-bar {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.search-bar .input {
	height: 30px;
	padding: 3px 0 3px 20px;
	border: none;
	min-width: 220px;
	border-radius: 0.3em;
	outline: none;
}

.search-bar .button {
	height: 30px;
	border: none;
	border-left: 1px solid;
	padding: 0 5px;
	border-radius: 0.3em;
	cursor: pointer;
}
.search-bar .button:hover {
	background-color: rgb(212, 210, 210);
}
